*{
    margin: 0;
    padding: 0;
    font-family: initial;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(252, 229, 229);
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0rem 0.2rem rgb(245, 196, 187);
    z-index: 1;
}
footer{
    background-color:rgb(245, 196, 187);
    padding: 10px;
    position:fixed;
    bottom: 0px;
    left: 0px;
    color: black;
    font-size: 20px;
    width: 100%;
    text-align: center;
 }
body{
    width: 100%;
    height: 100vh;
    background-image:url(backgroundb.jpg.jpeg);
    background-size: cover;
    background-position: center;
}
html{
    font-size: 88%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem ;
    overflow: hidden;
}
.navbar{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-style: initial;
    font-size: 50px;
    color: black;
    display: inline-flex;
    width: 100px;
    cursor: pointer;
}
span{
    font-style: initial;
    margin: 20px auto;
    font-size: 50px;
    line-height: 20px;
    color:rgb(245, 196, 187);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    right: -350px;
}
.navbar ul li a{
    font-style: initial;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
    padding: 1rem;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: rgb(245, 196, 187);
    position: absolute;
    left: 0;
    bottom: -10px;
}
.navbar ul li:hover:after{
    width: 100%;
}
.icons a{
    font-size: 15px;
    color:black;
    margin-left: 10px;
}
.icons a:hover{
    color: white;
}
form{
    border:3px solid rgb(245, 196, 187) ;
    width: 500px;
    height: 400px;
    position: relative;
    left: 500px;
    top: 100px;
    border-radius: 20px;
    box-shadow: 2px 2pxrgba(101, 243, 193, 0.788);
    background-color:rgb(235, 233, 233);
    padding: 25px;
}

label{
   color: black;
   position: relative;
   top: 30px;
   margin-left: 30px;
}
input{
    position: relative;
    top: 30px;
    box-shadow:  2px 2px rgb(245, 196, 187);
}
input:hover{
    box-shadow:  3px 3px rgb(226, 223, 223);
    border-radius: 5px;
}
h2{
    color:black;
    position: relative;
    margin: auto;
    left: 170px;
}
h4{
    color:black;
    position: relative;
    margin: auto;
    left: 170px;
}
p{
        font-size: 10px;

}
button{
    position: relative;
    padding: 5px 10px;
    margin: auto;
    left: 380px;
    background-color: rgb(245, 196, 187);
    border: black;
    border-radius: 8px;
    color: black;
}
button:hover{
    border: 2px solid  black;
    color: black;
    box-shadow: 3px 3px whitesmoke;
    
    
}
input{
    position: relative;
    margin-left: 10px;
    background-color: transparent ;
    border: 2px solid transparent;
}
#inp1,#inp2,#inp3,#inp4,#inp5{
    position: relative;
    margin-left: 60px;
}
.form{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(backgroundb.jpg.jpeg) ;
    background-size: cover;
    background-position: left;
    margin: -10px;
    }